.grid-container {
    display: flex;
    width: 100%;
}

mat-grid-list {
    width: 100%;
    margin: 80px;
}

mat-grid-tile {
    text-align: center;
}

.title {
    font-size: 24px;
}


.subject {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #3f51b5;
    color: white;
    box-shadow: 0 0 10px gray;
    transition: transform 0.3s ease-in-out;
}

.subject:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 800px) {
    .grid-container {
      flex-direction: column;
      justify-content: center;
    }
  
    mat-grid-list {
      width: 80%; 
    }
  }